@font-face {
    font-family: 'MontserratBold';
    src: url('./Fonts/Montserrat-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DarkerGrotesqueBold';
    src: url('./Fonts/DarkerGrotesque-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DarkerGrotesque';
    src: url('./Fonts/DarkerGrotesque-Medium.ttf') format('truetype');
  }

  .MontserratBold{
    font-family: 'MontserratBold';
  }

  .DarkerGrotesque{
    font-family:'DarkerGrotesque'
  }

  .DarkerGortesqueBold{
    font-family: 'DaDarkerGrotesquerkeBold';
  }

  .orderButton{
    @apply text-white bg-[black] text-[16px] rounded-[12px] px-3 py-1 DarkerGrotesque
  }

  .colorCompany{
      @apply bg-[#FF9900]
  }

  .colorUser{
    @apply bg-[#000000]
  }

  .colorDelivery{
    @apply bg-[#01AB78]
  }